@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Premium Dark Theme Global Styles */
body {
  @apply bg-neutral-950 text-gray-200 min-h-screen selection:bg-amber-500 selection:text-black;
}

/* Custom Scrollbar Styling (Search Result ke liye zaroori hai) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 rounded-full;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}

/* Hide scrollbar for navigation */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}